body {
	background-color: white;
}

/* Setting all links to no text decoration */
a {
	text-decoration: none;
}

/*Setting specific link class to color white after being visted */
.link:visited {
	color: black;
}

/* Styling the logo header */
.header {
	font-family: Open Sans;
	text-align: left;
	font-weight: 800;
	font-size: 65px;
	color: black;
	opacity: .3;
}

/* Individual placement of logo header pieces */
#aus {
	position: fixed;
	top: 0px;
	left: 20px; 
}

/* ^^ */
#tin {
	position: fixed;
	top: 55px;
	left: 20px;
}

/* ^^ */
#go {
	position: fixed;
	top: 128px;
	left: 20px;	
}

/* ^^ */
#sch {
	position: fixed;
	top: 183px;
	left: 23px;	
}

/* ^^ */
#photography {
	position: fixed;
	top: 250px;
	left: 27px;
	font-size: 22px; 	
}

/* ^^ */
#line {
	position: fixed;
	top: 135px;
	left: 20px;
	height: 4px;
	width: 137px;
	background-color: black;
}

/* Styling the navigation menu */
.nav {
	font-size: 20px;
	text-align: left;
	font-weight: bold;
	font-family: Open Sans;
	text-align: left;
	text-decoration: none;
}

/* Individual placement of navigation menu pieces */
#navigation1 {
	position: fixed;
	top: 310px;
	left: 25px;
	color: black;
	opacity: .3;
}

/* ^^ */
#navigation2 {
	position: fixed;
	top: 330px;
	left: 25px;
	color: black;
	opacity: .3;
}

/* ^^ */
#navigation3 {
	position: fixed;
	top: 350px;
	left: 25px;
	color: black;
	opacity: .3;
}

/* Making hover action for navigation menu */
#navigation1:hover, #navigation2:hover, #navigation3:hover {
	opacity: .99;
}

#backrect {
	position: absolute;
	top: 0px;
	left: 172px;
	width: 929px;
	height: 615px;

	background-image: url('http://i.imgur.com/AD6qx42.jpg');
	background-size: cover;
}

.cycle {
    position: relative;
    height: 320px;
    width: 320px;
}

.cycle img {
    position:absolute;
    left: 0;
    top: 0;
}

#photos {
	position: absolute;
	top: 619px;
	left: 132px;
	width: 929px;

	text-align: center;
	z-index: 2;
}

#left {
	position: fixed;
	top: 450px;
	left: 45px;
	transform: rotate(-90deg);
	
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

#right {
	position: fixed;
	top: 450px;
	left: 85px;
	transform: rotate(90deg);
	
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

#left:hover, #right:hover {
	opacity: .3;
}

/* Placing the connections in bottom left of page */
#connect {
	position: fixed;
	top: 525px;
	left: -18px;
}

/* Making connections horrizonal, inline list rather than vertical */
.connectlist li {
	display: inline;
}

/* Making hover action for connections */
#connect1:hover, #connect2:hover, #connect3:hover, #connect4:hover {
	opacity: .1;
}

/* Styling the date calculated by JQuery */
#date {
	position: absolute;
	top: 574px;
	left: 30px;
	font-size: 20px;
	font-family: Open Sans;
	color: gray;
	opacity: .8;
}

#sidephotosback {
	position: fixed;
	top: 0px;
	left: 1140px;
	height: 619px;
	width: 85px;

	background-color: gray;
	opacity: .3;
}

#sidephotos {
	position: fixed;
	top: 200px;
	left: 1107px;

	text-align: center;
}

.buttons {
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

#sphoto1:hover, #sphoto2:hover, #sphoto3:hover, #sphoto4:hover, #sphoto5:hover {
	opacity: .4;
}
