body {
    background-image: url("http://i.imgur.com/WDzYe4x.jpg");
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

/* Setting all links to no text decoration */
a {
	text-decoration: none;
}

/*Setting specific link class to color white after being visted */
.link:visited {
	color: white;
}

/* Styling the logo header */
.header {
	font-family: Open Sans;
	text-align: left;
	font-weight: 800;
	font-size: 65px;
	color: white;
	opacity: .4;
}

/* Individual placement of logo header pieces */
#aus {
	position: fixed;
	top: 0px;
	left: 20px; 
}

/* ^^ */
#tin {
	position: fixed;
	top: 55px;
	left: 20px;
}

/* ^^ */
#go {
	position: fixed;
	top: 128px;
	left: 20px;	
}

/* ^^ */
#sch {
	position: absolute;
	top: 183px;
	left: 23px;	
}

/* ^^ */
#photography {
	position: absolute;
	top: 250px;
	left: 27px;
	font-size: 22px; 	
}

/* ^^ */
#line {
	position: absolute;
	top: 135px;
	left: 20px;
	height: 3.5px;
	width: 137px;
	background-color: white;
}

/* Styling the navigation menu */
.nav {
	font-size: 20px;
	text-align: left;
	font-weight: bold;
	font-family: Open Sans;
	text-align: left;
	text-decoration: none;
}

/* Individual placement of navigation menu pieces */
#navigation1 {
	position: absolute;
	top: 15px;
	left: 172px;
	color: white;
}

/* ^^ */
#navigation2 {
	position: absolute;
	top: 35px;
	left: 172px;
	color: white;
}

/* ^^ */
#navigation3 {
	position: absolute;
	top: 55px;
	left: 172px;
	color: white;
}

/* Making hover action for navigation menu */
#navigation1:hover, #navigation2:hover, #navigation3:hover {
	color: black;
}

#pic1 {
	position: absolute;
	top: 140px;
	left: 220px;
	width: 450px; 
	height: 450px; 
	background-image: url("http://i.imgur.com/o4UwBAY.jpg");
	background-size: cover;
}

#text1 {
	position: absolute;
	top: 110px;
	left: 365px;
	width: 410px; 
	height: 40px;

	font-family: Open Sans;
	font-weight: bold;
	text-decoration: none;
	font-size: 34px; 
	color: white;
	z-index: 1;
}

#graybox1 {
	position: absolute;
	top: 112px;
	left: 240px;
	width: 412px;
	height: 45px;
	background-color: gray;
	opacity: .85;
}

#pic2 {
	position: absolute;
	top: 140px;
	left: 690px;
	width: 450px; 
	height: 450px; 
	background-image: url("http://i.imgur.com/dscs8j8.jpg");
	background-size: cover;
}

#text2 {
	position: absolute;
	top: 110px;
	left: 795px;
	width: 410px; 
	height: 40px;

	font-family: Open Sans;
	font-weight: bold;
	text-decoration: none;
	font-size: 34px;
	color: white; 
	z-index: 1;
}

#graybox2 {
	position: absolute;
	top: 112px;
	left: 710px;
	width: 412px;
	height: 45px;
	background-color: gray;
	opacity: .85;
}

#pic1:hover, #pic2:hover {
	opacity: .75;
}

.headerone {
	text-align: left;
}

/* Placing the connections in bottom left of page */
#connect {
	position: fixed;
	top: 525px;
	left: -18px;
}

/* Making connections horrizonal, inline list rather than vertical */
.connectlist li {
	display: inline;
}

/* Making hover action for connections */
#connect1:hover, #connect2:hover, #connect3:hover, #connect4:hover {
	opacity: .1;
}

/* Styling the date calculated by JQuery */
#date {
	position: absolute;
	top: 574px;
	left: 32px;
	font-size: 20px;
	font-family: Open Sans;
	color: white;
	opacity: .8;
}
