body {
    background-image: url("http://i.imgur.com/WDzYe4x.jpg");
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

/* Setting all links to no text decoration */
a {
	text-decoration: none;
}

/*Setting specific link class to color white after being visted */
.link:visited {
	color: white;
}

/* Styling the logo header */
.header {
	font-family: Open Sans;
	text-align: left;
	font-weight: 800;
	font-size: 65px;

	color: white;
	opacity: .4;
	text-decoration: none;
}

/* Individual placement of logo header pieces */
#aus {
	position: fixed;
	top: 0px;
	left: 20px; 
	text-decoration: none;
}

/* ^^ */
#tin {
	position: fixed;
	top: 55px;
	left: 20px;
}

/* ^^ */
#go {
	position: fixed;
	top: 128px;
	left: 20px;	
}

/* ^^ */
#sch {
	position: absolute;
	top: 183px;
	left: 23px;	
}

/* ^^ */
#photography {
	position: absolute;
	top: 250px;
	left: 27px;
	font-size: 22px; 	
}

/* ^^ */
#line {
	position: absolute;
	top: 135px;
	left: 20px;
	height: 3.5px;
	width: 137px;
	background-color: white;
}

/* Styling the navigation menu */
.nav {
	font-size: 20px;
	text-align: left;
	font-weight: bold;
	font-family: Open Sans;
	text-align: left;
	text-decoration: none;
}

/* Individual placement of navigation menu pieces */
#navigation1 {
	position: absolute;
	top: 15px;
	left: 172px;
	color: white;
}

/* ^^ */
#navigation2 {
	position: absolute;
	top: 35px;
	left: 172px;
	color: white;
}

/* ^^ */
#navigation3 {
	position: absolute;
	top: 55px;
	left: 172px;
	color: white;
}

/* Making hover action for navigation menu */
#navigation1:hover, #navigation2:hover, #navigation3:hover {
	color: black;
}

#form {
	font-size: 20px;
	font-family: Open Sans;
	color: white;
	font-style: bold;

	width: 350px;
	margin: 0 auto;
}

#contactUs {
	font-size: 25px;
	text-align: center;
}

input {
	width: 100%;
	height: 35px;
	margin-top: 5px;
	border: 1px solid #999;
	border-radius: 3px;
	padding: 5px;
	font-family: Open Sans;
	font-size: 14px;
}

#submit {
	background-color: gray;
	font-family: Open Sans;
	font-size: 15px;
	text-align: center;
	color: white;

	width: 103.5%;
}

#submit:hover {
	opacity: .8;
	background-color: white;
	color: gray;
}

textarea {
	width: 100%;
	height: 80px;
	margin-top: 5px;
	border-radius: 3px;
	resize: none;
	padding: 5px;
	font-family: Open Sans;
	font-size: 14px;
}

span {
	color: red
}

#note {
	color: black;
	font-weight: 400px;
}

#confirmation {
	color: white;
	font-family: Open Sans;
	font-style: bold;
	font-size: 30px;
	text-align: center;

	margin: 0 auto;

	position: relative;
	top: 135px;
	width: 55%;
}

#redirect {
	color: white;
	font-family: Open Sans;
	font-style: bold;
	font-size: 30px;
	text-align: center;

	margin: 0 auto;

	position: relative;
	top: 155px;
	width: 55%;
}

/* Placing the connections in bottom left of page */
#footer {
	position: fixed;
	top: 525px;
	left: -32px;
	width: 200px;
	height: 100%;	
	text-align: center;
}

/* Making connections horrizonal, inline list rather than vertical */
.connectlist li {
	display: inline;
}

/* Making hover action for connections */
#connect1:hover, #connect2:hover, #connect3:hover, #connect4:hover {
	opacity: .1;
}

/* Styling the date calculated by JQuery */
#date {
	position: fixed;
	top: 574px;
	left: 30px;
	font-size: 20px;
	font-family: Open Sans;
	color: white;
	opacity: .8;
}
