body {
    background-image: url("https://i.imgur.com/NYi3Ffk.jpg");
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

/* Styling the logo header */
.header {
	font-family: Open Sans;
	text-align: left;
	font-weight: 800;
	font-size: 65px;
	color: white;
	opacity: .4;
}

/* Individual placement of logo header pieces */
#aus {
	position: fixed;
	top: 0px;
	left: 20px; 
}

/* ^^ */
#tin {
	position: fixed;
	top: 55px;
	left: 20px;
}

/* ^^ */
#go {
	position: fixed;
	top: 128px;
	left: 20px;	
}

/* ^^ */
#sch {
	position: absolute;
	top: 183px;
	left: 23px;	
}

/* ^^ */
#photography {
	position: absolute;
	top: 250px;
	left: 27px;
	font-size: 22px; 	
}

/* ^^ */
#line {
	position: absolute;
	top: 135px;
	left: 20px;
	height: 3.5px;
	width: 137px;
	background-color: white;
}

/* Styling the navigation menu */
.nav {
	font-size: 20px;
	text-align: left;
	font-weight: bold;
	font-family: Open Sans;
	text-align: left;
	color: white;
}

/* Individual placement of navigation menu pieces */
#navigation1 {
	position: absolute;
	top: 15px;
	left: 172px;
}

/* ^^ */
#navigation2 {
	position: absolute;
	top: 35px;
	left: 172px;
}

/* ^^ */
#navigation3 {
	position: absolute;
	top: 55px;
	left: 172px;
}

/* Making hover action for navigation menu */
#navigation1:hover, #navigation2:hover, #navigation3:hover {
	color: black;
}

/* Styling the gray sidebar on right side of page */
.sidebar {
	position: fixed;
	top: 0px;
	left: 950px;
	height: 619px;
	width: 250px;

	background-color: gray;
	opacity: .75;
}

/* Styling the pictures in sidebar on right side of page */
.sidepics {
	position: fixed;
	top: -4px;
	left: 910px;
	height: 600px;
	width: 250px;

	text-align: center;
}

/* Placing the connections in bottom left of page */
#connect {
	position: fixed;
	top: 550px;
	left: -18px;
}

/* Making connections horrizonal, inline list rather than vertical */
.connectlist li {
	display: inline;
}

/* Making hover action for connections */
#connect1:hover, #connect2:hover, #connect3:hover, #connect4:hover {
	opacity: .1;
}
