body {
    background-image: url("http://i.imgur.com/WDzYe4x.jpg");
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

/* Setting all links to no text decoration */
a {
	text-decoration: none;
}

/*Setting specific link class to color white after being visted */
.link:visited {
	color: white;
}

#button100 {
	top: 300px;
	left: 100px;
	width: 100px;
	height: 100px;
}

/* Styling the logo header */
.header {
	font-family: Open Sans;
	text-align: left;
	font-weight: 800;
	font-size: 65px;
	color: white;
	opacity: .4;
}

/* Individual placement of logo header pieces */
#aus {
	position: fixed;
	top: 0px;
	left: 20px; 
}

/* ^^ */
#tin {
	position: fixed;
	top: 55px;
	left: 20px;
}

/* ^^ */
#go {
	position: fixed;
	top: 128px;
	left: 20px;	
}

/* ^^ */
#sch {
	position: absolute;
	top: 183px;
	left: 23px;	
}

/* ^^ */
#photography {
	position: absolute;
	top: 250px;
	left: 27px;
	font-size: 22px; 	
}

/* ^^ */
#line {
	position: absolute;
	top: 135px;
	left: 20px;
	height: 3.5px;
	width: 137px;
	background-color: white;
}

/* Styling the navigation menu */
.nav {
	font-size: 20px;
	text-align: left;
	font-weight: bold;
	font-family: Open Sans;
	text-align: left;
	text-decoration: none;
}

/* Individual placement of navigation menu pieces */
#navigation1 {
	position: absolute;
	top: 15px;
	left: 172px;
	color: white;
}

/* ^^ */
#navigation2 {
	position: absolute;
	top: 35px;
	left: 172px;
	color: white;
}

/* ^^ */
#navigation3 {
	position: absolute;
	top: 55px;
	left: 172px;
	color: white;
}

/* Making hover action for navigation menu */
#navigation1:hover, #navigation2:hover, #navigation3:hover {
	color: black;
}

/* Positioning the 4 text boxes and their gray backgrounds that overlay the nav photos */
#textone {
	top: 252px;
	left: 450px;
}

#textboxone {
	top: 250px;
	left: 427px;
	width: 220px;
	height: 40px;
}

#texttwo {
	top: 250px;
	left: 694px;
}

#textboxtwo {
	position: fixed;
	top: 250px;
	left: 671px;
	width: 220px;
	height: 40px;
}

#textthree {
	top: 501px;
	left: 450px;
}

#textboxthree {
	position: fixed;
	top: 499px;
	left: 427px;
	width: 220px;
	height: 40px;
}

#textfour {
	top: 501px;
	left: 694px;
}

#textboxfour {
	position: fixed;
	top: 499px;
	left: 671px;
	width: 220px;
	height: 40px;
}

/* Styling the text in the text class to be white */
#textone, #texttwo, #textthree, #textfour {
	color: white;
	font-family: Open Sans;
	font-size: 25px;
	position: fixed;
	z-index: 2;
}

#textboxone, #textboxtwo, #textboxthree, #textboxfour {
	position: fixed;
	background-color: gray;
	opacity: .5;
	z-index: 1;
}

/* Changing the opacity of the textboxes when hovered upon */
#textboxone:hover, #textboxtwo:hover, #textboxthree:hover, #textboxfour:hover {
	opacity: 1;
}

/* Styling the navigation pictures */
#nav1 {
	position: fixed;
	top: 100px;
	left: 427px;
	width: 220px;
	height: 220px;
	background-image: url("https://i.imgur.com/mU09wBr.jpg");
	background-size: cover;
}

#nav2 {
	position: fixed;
	top: 100px;
	left: 671px;
	width: 220px;
	height: 220px;
	background-image: url("https://i.imgur.com/1sFoObh.jpg");
	background-size: cover;
}

#nav3 {
	position: fixed;
	top: 344px;
	left: 427px;
	width: 220px;
	height: 220px;
	background-image: url("https://i.imgur.com/rnMJ8qp.jpg");
	background-size: cover;
}

#nav4 {
	position: fixed;
	top: 344px;
	left: 671px;
	width: 220px;
	height: 220px;
	background-image: url("https://i.imgur.com/Cj8h3qm.jpg");
	background-size: cover;
}

/* Having opacity of pictures in table/grid decrease when hovered upon */
#nav1:hover, #nav2:hover, #nav3:hover, #nav4:hover {
	opacity: .6;
	/*top: 100px;
	left: 427px;
	width: 464px;
	height: 464px;
	z-index: 1; */
} 

/* Placing the connections in bottom left of page */
#connect {
	position: fixed;
	top: 525px;
	left: -15px;
}

/* Making connections horrizonal, inline list rather than vertical */
.connectlist li {
	display: inline;
}

/* Making hover action for connections */
#connect1:hover, #connect2:hover, #connect3:hover, #connect4:hover {
	opacity: .1;
}

/* Styling the date calculated by JQuery */
#date {
	position: absolute;
	top: 574px;
	left: 30px;
	font-size: 20px;
	font-family: Open Sans;
	color: white;
	opacity: .8;
}
