body {
    background-image: url("http://i280.photobucket.com/albums/kk178/austingosch12/SeaFoam_zpsaohswxho.jpg?1432456902533&1432456903321");
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.headerone {
	text-align: left;
}

.aus {
	position: absolute;
	top: 0px;
	left: 20px;

	font-size: 65px; 
	font-weight: 100px; 
	color: white;
	opacity: .4; 
	font-family: Open Sans;
	text-decoration: none;
	text-align: left;
}

.tin {
	position: absolute;
	top: 55px;
	left: 20px;

	width: 100px;

	font-size: 65px; 
	font-weight: 100px; 
	color: white; 
	opacity: .4;
	font-family: Open Sans;
	text-decoration: none;
	text-align: justify;
}

.go {
	position: absolute;
	top: 128px;
	left: 20px;

	font-size: 65px;  
	font-weight: 100px;
	color: white; 
	opacity: .4;
	font-family: Open Sans;
	text-decoration: none;
	text-align: left;	
}

.sch {
	position: absolute;
	top: 183px;
	left: 23px;

	font-size: 65px; 
	font-weight: 100px;
	color: white; 
	opacity: .4;
	font-family: Open Sans;
	text-decoration: none;
	text-align: left;	
}

.photography {
	position: absolute;
	top: 250px;
	left: 27px;

	font-size: 22px; 
	font-weight: 100px;
	color: white; 
	opacity: .4;
	font-family: Open Sans;
	text-decoration: none;
	text-align: left;	
}

.line {
	position: absolute;
	top: 135px;
	left: 20px;
	height: 3.5px;
	width: 137px;
	background-color: white;
	opacity: .4;
}

.navigation1 {
	position: absolute;
	top: 15px;
	left: 172px;

	font-size: 15px;  
	color: white; 
	font-family: Open Sans;
	text-decoration: none;
	text-align: left;
}

.navigation2 {
	position: absolute;
	top: 30px;
	left: 172px;

	font-size: 15px;  
	color: white; 
	font-family: Open Sans;
	text-decoration: none;
	text-align: left;
}

.navigation3 {
	position: absolute;
	top: 45px;
	left: 172px;

	font-size: 15px;  
	color: white; 
	font-family: Open Sans;
	text-decoration: none;
	text-align: left;
}

.navigation1:hover, .navigation2:hover, .navigation3:hover {
	color: black;
}

#connection1 {
	position: fixed;
	top: 575px;
	left: 20px;
	width: 25px;
	height: 25px;
}

#connection2 {
	position: fixed;
	top: 575px;
	left: 55px;
	width: 25px;
	height: 25px;
}

#connection3 {
	position: fixed;
	top: 575px;
	left: 90px;
	width: 25px;
	height: 25px;
}

#connection4 {
	position: fixed;
	top: 575px;
	left: 125px;
	width: 25px;
	height: 25px;
}

#connection1:hover, #connection2:hover, #connection3:hover, #connection4:hover {
	opacity: .1;
}

#gridone {
	position: absolute;
	top: 75px;
	left: 400px;
}

#textone {
	position: absolute;
	top: 255px;
	left: 415px;

	font-family: Open Sans;
	font-size: 25px;
	color: white;

	z-index: 2;
}

#textboxone {
	position: absolute;
	top: 250px;
	left: 400px;
	width: 250px;
	height: 50px;

	background-color: gray;
	opacity: .5;

	z-index: 1;
}

#gridtwo {
	position: absolute;
	top: 75px;
	left: 650px;
}

#texttwo {
	position: absolute;
	top: 255px;
	left: 665px;

	font-family: Open Sans;
	font-size: 25px;
	color: white;

	z-index: 2;
}

#textboxtwo {
	position: absolute;
	top: 250px;
	left: 650px;
	width: 250px;
	height: 50px;

	background-color: gray;
	opacity: .6;

	z-index: 1;
}

#gridthree {
	position: absolute;
	top: 325px;
	left: 400px;
}

#textthree {
	position: absolute;
	top: 510px;
	left: 415px;

	font-family: Open Sans;
	font-size: 25px;
	color: white;

	z-index: 2;
}

#textboxthree {
	position: absolute;
	top: 505px;
	left: 400px;
	width: 250px;
	height: 50px;

	background-color: gray;
	opacity: .6;

	z-index: 1;
}

#gridfour {
	position: absolute;
	top: 325px;
	left: 650px;
}

#textfour {
	position: absolute;
	top: 510px;
	left: 665px;

	font-family: Open Sans;
	font-size: 25px;
	color: white;

	z-index: 2;
}

#textboxfour {
	position: absolute;
	top: 505px;
	left: 650px;
	width: 250px;
	height: 50px;

	background-color: gray;
	opacity: .6;

	z-index: 1;
}

#textboxone:hover, #textboxtwo:hover, #textboxthree:hover, #textboxfour:hover {
	opacity: 1;
}
