body {
    background-color: white;
}

/* Setting all links to no text decoration */
a {
	text-decoration: none;
}

/*Setting specific link class to color white after being visted */
.link:visited {
	color: white;
}

/* Styling the logo header */
.header {
	font-family: Indie Flower;
	text-align: left;
	font-weight: 800;
	font-size: 65px;
	opacity: .8;
}

/* Individual placement of logo header pieces */
#aus {
	position: absolute;
	top: 0px;
	left: 20px; 
	color: #a8a8a8;
}

/* ^^ */
#tin {
	position: absolute;
	top: 55px;
	left: 20px;
	color: #a8a8a8;
}

/* ^^ */
#go {
	position: absolute;
	top: 128px;
	left: 20px;	
	color: #a8a8a8;
}

/* ^^ */
#sch {
	position: absolute;
	top: 183px;
	left: 23px;	
	color: #a8a8a8;
}

/* ^^ */
#photography {
	position: absolute;
	top: 250px;
	left: 27px;
	font-size: 22px; 
	color: #a8a8a8;	
}

/* ^^ */
#line {
	border-radius: 25px;
	position: absolute;
	top: 135px;
	left: 20px;
	height: 3.5px;
	width: 137px;
	background-color: #a8a8a8;
}

/* Styling the navigation menu */
.nav {
	font-size: 20px;
	text-align: left;
	font-weight: bold;
	font-family: Indie Flower;
	text-align: left;
	text-decoration: none;
	opacity: .8;
}

/* Individual placement of navigation menu pieces */
#navigation1 {
	position: absolute;
	top: 15px;
	left: 172px;
	color: #a8a8a8;
}

/* ^^ */
#navigation2 {
	position: absolute;
	top: 35px;
	left: 172px;
	color: #a8a8a8;
}

/* ^^ */
#navigation3 {
	position: absolute;
	top: 55px;
	left: 172px;
	color: #a8a8a8;
}

/* Making hover action for navigation menu */
#navigation1:hover, #navigation2:hover, #navigation3:hover {
	color: black;
}

.text {
	font-size: 45px; 
	font-family: Indie Flower;
}

.sidetext {
	font-size: 25px;
	font-family: Indie Flower;
	color: black;

	z-index: 1;
}

#hellotext {
	position: absolute;
	top: 210px;
	left: 532px;	
	text-align: left;

	font-size: 60px;
}

#introtext {
	position: absolute;
	top: 272px;
	left: 535px;	
	text-align: left;
}

	#sidetext7 {
		font-size: 23px;
		position: absolute;
		top: 443px;
		left: 873px;
		opacity: .65;

		transform: rotate(5deg);

		z-index: 1;
	}
	
	#sidetext5 {
		font-size: 20px; 

		position: absolute;
		top: 465px;
		left: 410px;
		width: 275px;
		opacity: .65;

		z-index: 1;
	}

#text1 {
	position: absolute;
	top: 800px;
	left: 650px;
	width: 515px;
	text-align: left;
}
	
	#sidetext6 {
		font-size: 35px;

		position: absolute;
		top: 1060px;
		left: 265px;

		transform: rotate(-5deg);

		z-index: 1;
	}

#text2 {
	position: absolute;
	top: 1355px;
	left: 150px;
	width: 515px;
	text-align: justify;
}
	
	#sidetext8 {
		position: absolute;
		top: 1600px;
		left: 865px;

		transform: rotate(5deg);

		z-index: 1;
	}

#text3 {
	position: absolute;
	top: 2010px;
	left: 660px;
	width: 600px;
	text-align: left;
}

	#sidetext1 {
		position: absolute;
		top: 2189px;
		left: 210px;

		transform: rotate(-5deg);
		z-index: 1;
	}

	#sidetext2 {
		font-size: 15px; 

		position: absolute;
		top: 2063px;
		left: 53px;

		transform: rotate(4deg);
		z-index: 1;
	}

	#sidetext3 {
		font-size: 12px; 

		position: absolute;
		top: 2143px;
		left: 454px;

		transform: rotate(-12deg);
		z-index: 1;
	}

#text4 {
	position: absolute;
	top: 2605px;
	left: 100px;
	width: 600px;
	text-align: left;
}

	#sidetext4 {
		position: absolute;
		top: 2859px;
		left: 912px;

		transform: rotate(5deg);
		z-index: 1;

		color: #990000;
	}

#text5 {
	position: absolute;
	top: 3668px;
	left: 615px;
	width: 615px;
	text-align: left;
}

	#sidetext9 {
		position: absolute;
		top: 3903px;
		left: 150px;

		transform: rotate(-5deg);

		z-index: 1;
	}

#text6 {
	position: absolute;
	top: 3940px;
	left: 35px;
	width: 900px;
	text-align: left;

	font-size: 40px;
}

#text7 {
	position: absolute;
	top: 4315px;
	left: 350px;
	width: 900px;
	text-align: left;

	font-size: 40px;
}

#text8 {
	position: absolute;
	top: 4715px;
	left: 100px;
	width: 1100px;
	text-align: left;

	font-size: 40px;
}

#text9 {
	position: absolute;
	top: 3150px;
	left: 100px;
	width: 650px;
	text-align: left;

	font-size: 40px;
}


#headShotBox {
	position: absolute;
	top: 125px;
	left: 855px;
	width: 320px; 
	height: 365px; 
	background-color: white;	

	box-shadow: 0 0 30px #a8a8a8;

	transform: rotate(5deg);
}

#headshot {
	position: absolute;
	top: 135px;
	left: 867px;
	width: 300px; 
	height: 300px; 
	background-image: url("https://i.imgur.com/o4UwBAY.jpg");
	background-size: cover;

	transform: rotate(5deg);
}

#backbox8 {
	position: absolute;
	top: 292px;
	left: 160px;
	width: 215px; 
	height: 290px; 
	background-color: white;	

	box-shadow: 0 0 30px #a8a8a8;

	transform: rotate(-6.5deg);
}

	#playlist {
		position: absolute;
		top: 280px;
		left: 151px;
		width: 230px;
		height: 280px;

		transform: scale(.85) rotate(-6.5deg);
		z-index: 1;
	}

	#followbutton {
		position: absolute;
		top: 548px;
		left: 168px;

		transform: scale(.85) rotate(-6.5deg);
		z-index: 1;
	}

	#sideimage28 {
		position: absolute;
		top: 392px;
		left: 395px;
		width: 70px;
		height: 70px;
		background-image: url("https://i.imgur.com/rX57z2t.jpg");
		background-size: cover;

		transform: rotate(-122deg);
		opacity: .75;
	}

#arkansasBox {
	position: absolute;
	top: 740px;
	left: 155px;
	width: 320px; 
	height: 365px; 
	background-color: white;	

	box-shadow: 0 0 30px #a8a8a8;

	transform: rotate(-5deg);
}

#arkansas {
	position: absolute;
	top: 750px;
	left: 162px;
	width: 300px; 
	height: 300px; 
	background-image: url("https://i.imgur.com/KMV6RLi.jpg");
	background-size: cover;

	border: 1px solid black;
	transform: rotate(-5deg);
}

	#sideimage29 {
		position: absolute;
		top: 1055px;
		left: 360px;
		width: 35px;
		height: 35px;
		background-image: url("https://i.imgur.com/JydJDSz.jpg");
		background-size: cover;

		transform: rotate(3deg);

		z-index: 1;
	}

#instaBox {
	position: absolute;
	top: 1285px;
	left: 820px;
	width: 320px; 
	height: 365px; 
	background-color: white;	

	box-shadow: 0 0 30px #a8a8a8;

	transform: rotate(5deg);
}

#insta {
	position: absolute;
	top: 1295px;
	left: 832px;
	width: 300px; 
	height: 300px; 
	background-size: cover;

	transform: rotate(5deg);
}

	#sideimage1 {
		position: absolute;
		top: 1615px;
		left: 1010px;
		width: 121px; 
		height: 95px; 

		background-image: url("");
		background-size: cover;

		transform: rotate(-8deg);
		z-index: 1;
	}

	#sideimage30 {
		position: absolute;
		top: 1603px;
		left: 958px;
		width: 40px;
		height: 40px;
		background-image: url("https://i.imgur.com/rX57z2t.jpg");
		background-size: cover;

		transform: rotate(-25deg);

		z-index: 1;
	}

#troutBox {
	position: absolute;
	top: 1870px;
	left: 160px;
	width: 320px; 
	height: 365px; 
	background-color: white;	

	box-shadow: 0 0 30px #a8a8a8;

	transform: rotate(-5deg);
}

#trout {
	position: absolute;
	top: 1880px;
	left: 169px;
	width: 300px; 
	height: 300px; 
	background-image: url("https://i.imgur.com/R9TDHJQ.png");
	background-size: cover;

	transform: rotate(-5deg);
}

#angelsLandingBox {
	position: absolute;
	top: 1900px;
	left: 50px;
	width: 160px; 
	height: 193px; 
	background-color: white;	

	box-shadow: 0 0 30px #a8a8a8;

	transform: rotate(4deg);
}

#angelsLanding {
	position: absolute;
	top: 1905px;
	left: 56px;
	width: 150px; 
	height: 150px; 
	background-image: url("https://i.imgur.com/WF7lI5Q.jpg");
	background-size: cover;

	transform: rotate(4deg);
}

#fiordlandsBox {
	position: absolute;
	top: 2028px;
	left: 439px;
	width: 119px; 
	height: 135px; 
	background-color: white;	

	box-shadow: 0 0 30px #a8a8a8;

	transform: rotate(-12deg);
}

#fiordlands {
	position: absolute;
	top: 2033px;
	left: 442px;
	width: 111px; 
	height: 111px; 
	background-image: url("https://i.imgur.com/Dvkvewf.jpg");
	background-size: cover;

	transform: rotate(-12deg);
}

	#vanOnRoad {
		position: absolute;
		top: 2230px;
		left: -5px;
		width: 577px; 
		height: 100px; 

		background-image: url("https://i.imgur.com/vVfmX4w.jpg");
		background-size: cover;
	}

	#sun {
		position: absolute;
		top: 2210px;
		left: 515px;
		width: 50px; 
		height: 50px; 

		background-image: url("https://i.imgur.com/hLwXUiA.jpg");
		background-size: cover;
	}

#backbox6 {
	position: absolute;
	top: 2530px;
	left: 855px;
	width: 320px; 
	height: 365px; 
	background-color: white;	

	box-shadow: 0 0 30px #a8a8a8;

	transform: rotate(5deg);
}

#box6 {
	position: absolute;
	top: 2540px;
	left: 867px;
	width: 300px; 
	height: 300px; 
	background-image: url("https://i.imgur.com/dxOtN1W.jpg");
	background-size: cover;

	transform: rotate(5deg);
}

	#sideimage4 {
		position: absolute;
		top: 2828px;
		left: 850px;
		width: 50px; 
		height: 50px; 

		background-image: url("https://i.imgur.com/D7XxrDp.jpg");
		background-size: cover;
		transform: rotate(5deg);
		z-index: 1;
	}

	#sideimage5 {
		position: absolute;
		top: 2850px;
		left: 1100px;
		width: 50px; 
		height: 50px; 

		background-image: url("https://i.imgur.com/D7XxrDp.jpg");
		background-size: cover;
		transform: rotate(5deg);
		z-index: 1;
	}

	#sideimage6 {
		position: absolute;
		top: 2680px;
		left: 610px;
		width: 150px; 
		height: 150px; 

		background-image: url("https://i.imgur.com/TXoi1kO.jpg");
		background-size: cover;
		transform: rotate(-12deg);
		z-index: 1;
	}

#backbox7 {
	position: absolute;
	top: 3585px;
	left: 80px;
	width: 320px; 
	height: 365px; 
	background-color: white;	

	box-shadow: 0 0 30px #a8a8a8;

	transform: rotate(-5deg);
}


#backbox9 {
	position: absolute;
	top: 3075px;
	left: 785px;
	width: 420px;
	height: 300px;
	background-color: white;	

	box-shadow: 0 0 30px #a8a8a8;

	transform: rotate(2deg);
}

	#nzvideo {
		position: absolute;
		top: 3085px;
		left: 797px;
		z-index: 2;

		transform: rotate(2deg);
	}

	#mountain {
		position: absolute;
		top: 3055px;
		left: 50px;
		z-index: 2;
		opacity: .1;
	}

	#nzText {
		position: absolute;
		top: 3323px;
		left: 822px;
		z-index: 1;

		transform: rotate(2deg);
	}

#box7 {
	position: absolute;
	top: 3595px;
	left: 88px;
	width: 300px; 
	height: 300px; 
	background-image: url("https://i.imgur.com/SXZxLru.jpg");
	background-size: cover;

	transform: rotate(-5deg);
}

	.comp {
		position: absolute;
		top: 365px;
		left: -25px;
	}

	#chip1 {
		position: absolute;
		top: 3385px;
		left: 475px;
		width: 125px; 
		height: 125px; 

		background-image: url("https://i.imgur.com/lEH3fnp.jpg");
		background-size: cover;
	}

	#chip2 {
		position: absolute;
		top: 3300px;
		left: 570px;
		width: 50px; 
		height: 50px; 

		background-image: url("https://i.imgur.com/LCRcgGq.png");
		background-size: cover;
		transform: rotate(8deg);
		z-index: 1;
	}

	#chip3 {
		position: absolute;
		top: 3340px;
		left: 460px;
		width: 25px; 
		height: 25px; 

		background-image: url("https://i.imgur.com/LCRcgGq.png");
		background-size: cover;
		transform: rotate(-3deg);
		z-index: 1;	
	}

	#chip4 {
		position: absolute;
		top: 3270px;
		left: 500px;
		width: 38px; 
		height: 38px; 

		background-image: url("https://i.imgur.com/LCRcgGq.png");
		background-size: cover;
		transform: rotate(-15deg);
		z-index: 1;	
	}

	#chip5 {
		position: absolute;
		top: 3235px;
		left: 735px;
		width: 40px; 
		height: 40px; 

		background-image: url("https://i.imgur.com/LCRcgGq.png");
		background-size: cover;
		transform: rotate(-15deg);
		z-index: 1;	
	}

	#chip6 {
		position: absolute;
		top: 3215px;
		left: 575px;
		width: 30px; 
		height: 30px; 

		background-image: url("https://i.imgur.com/LCRcgGq.png");
		background-size: cover;
		transform: rotate(20deg);
		z-index: 1;	
	}

	#chip7 {
		position: absolute;
		top: 3225px;
		left: 650px;
		width: 45px; 
		height: 45px; 

		background-image: url("https://i.imgur.com/LCRcgGq.png");
		background-size: cover;
		z-index: 1;	
	}

	#chip8 {
		position: absolute;
		top: 3290px;
		left: 700px;
		width: 20px; 
		height: 20px; 

		background-image: url("https://i.imgur.com/LCRcgGq.png");
		background-size: cover;
		z-index: 1;	
	}

	#chip9 {
		position: absolute;
		top: 3352px;
		left: 815px;
		width: 21px; 
		height: 21px; 

		background-image: url("https://i.imgur.com/LCRcgGq.png");
		background-size: cover;
		transform: rotate(10deg);
		z-index: 1;	
	}

	#cihp10 {
		position: absolute;
		top: 3365px;
		left: 915px;
		width: 15px; 
		height: 15px; 

		background-image: url("https://i.imgur.com/LCRcgGq.png");
		background-size: cover;
		transform: rotate(-12deg);
		z-index: 1;	
	}

	#chip11 {
		position: absolute;
		top: 3432px;
		left: 950px;
		width: 20px; 
		height: 20px; 

		background-image: url("https://i.imgur.com/LCRcgGq.png");
		background-size: cover;
		transform: rotate(-20deg);
		z-index: 1;	
	}

	#chip12 {
		position: absolute;
		top: 3420px;
		left: 870px;
		width: 12px; 
		height: 12px; 

		background-image: url("https://i.imgur.com/LCRcgGq.png");
		background-size: cover;
		transform: rotate(15deg);
		z-index: 1;	
	}

	#chip13 {
		position: absolute;
		top: 3490px;
		left: 935px;
		width: 35px; 
		height: 35px; 

		background-image: url("https://i.imgur.com/LCRcgGq.png");
		background-size: cover;
		transform: rotate(-15deg);
		z-index: 1;	
	}

	#chip14 {
		position: absolute;
		top: 3530px;
		left: 995px;
		width: 42px; 
		height: 42px; 

		background-image: url("https://i.imgur.com/LCRcgGq.png");
		background-size: cover;
		transform: rotate(8deg);
		z-index: 1;	
	}

	#chip15 {
		position: absolute;
		top: 3500px;
		left: 1100px;
		width: 46px; 
		height: 46px; 

		background-image: url("https://i.imgur.com/LCRcgGq.png");
		background-size: cover;
		transform: rotate(-20deg);
		z-index: 1;	
	}

	#chip16 {
		position: absolute;
		top: 3490px;
		left: 1038px;
		width: 25px; 
		height: 25px; 

		background-image: url("https://i.imgur.com/LCRcgGq.png");
		background-size: cover;
		transform: rotate(25deg);
		z-index: 1;	
	}

	#chip17 {
		position: absolute;
		top: 3430px;
		left: 1175px;
		width: 15px; 
		height: 15px; 

		background-image: url("https://i.imgur.com/LCRcgGq.png");
		background-size: cover;
		transform: rotate(15deg);
		z-index: 1;	
	}

	#chip18 {
		position: absolute;
		top: 3565px;
		left: 1085px;
		width: 23px; 
		height: 23px; 

		background-image: url("https://i.imgur.com/LCRcgGq.png");
		background-size: cover;
		transform: rotate(15deg);
		z-index: 1;	
	}

	#chip19 {
		position: absolute;
		top: 3460px;
		left: 1180px;
		width: 52px; 
		height: 52px; 

		background-image: url("https://i.imgur.com/LCRcgGq.png");
		background-size: cover;
		transform: rotate(30deg);
		z-index: 1;	
	}

#headshot:hover, #arkansas:hover, #insta:hover, #trout:hover, #angelsLanding:hover, #fiordlands:hover, #box6:hover, #box7:hover, #box8:hover {
     transform:scale(1.25);

     z-index: 1;
}

#box5:hover {
	transform: scale(1.75);

	z-index: 1;
}

#spacer {
	position: absolute;
	top: 4000px;
	width: 100px;
	height: 90px;
}

/* Placing the connections in bottom left of page */
#footer {
	position: fixed;
	top: 525px;
	left: -32px;
	width: 200px;
	height: 100%;	
	text-align: center;
}

/* Making connections horrizonal, inline list rather than vertical */
.connectlist li {
	display: inline;
}

/* Making hover action for connections */
#connect1:hover, #connect2:hover, #connect3:hover, #connect4:hover {
	opacity: .1;
}

/* Styling the date calculated by JQuery */
#date {
	position: fixed;
	top: 574px;
	left: 30px;
	font-size: 20px;
	font-family: Open Sans;
	color: white;
	opacity: .8;
}